
//Utils
.dp-day-selected{
    color: $primary-color;
}

//input style
input{
    display: block;
    background-color: var(--bg1);
    border: 1px solid var(--bd1);                
    border-radius: 4px;
    padding: 16px;
    margin-top: 10px;
    color: var(--text4);
    font-weight: bold;
    width: 100%;
    outline: none;
    cursor: pointer;
    &:active, &:hover {
        border: 1px solid $primary-color;
    }
}

.date-picker{
    position: relative;
    color: var(--text2);
    font-weight: bold;
    svg{
        position: absolute;
        top: 16px;
        right: 20px;
        pointer-events: none;
    }
    .dp-container{
        border-radius: 8px;
        padding: 25px;
        background-color: var(--bg1);
        top: 60px;
        position: absolute;
        width: 100%;
        z-index: 1;
        box-shadow: var(--bs1);
        .dp-selected-date{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .dp-prev-month{
                padding-left: 10px;
                cursor: pointer;
            }
            .dp-next-month{
                padding-right: 10px;
                cursor: pointer;
            }
        }
        .dp-days{
            padding-top: 32px;
            display: grid; 
            grid-template-columns: repeat(7, 1fr); 
            grid-template-rows: repeat(5, 1fr); 
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            gap: 20px;
            @include media-up(md){
                gap: 12px;
            }
            .dp-day{
                &:hover{
                    color:$primary-color;
                    cursor: pointer;
                }
            }
            .dp-day-fill{
                color: var(--text6);
            }
        }
    }
}