@import "../_variables";

#invoice-edit{
    position: fixed;
    top: 0;
    left: 0;
    padding: $pd-top 0;
    z-index: 1;
}
//Go Back
.back{
    cursor: pointer;
    .bold{
        padding-left: 25px;
    }
}
.container{
    padding: 25px;
    width: 375px;
    background-color: $bg-dark-secondary;
    height: calc(100vh - $pd-top);
    overflow-y: scroll;
    position: relative;
    h2{
        padding-top: 28px;
        font-size: 2.4rem;
        span{
            &::before{
                content: "#";
                color: $slightly-desaturated-blue;
            }
        }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        background-color: $bg-dark-primary;
        position: absolute;
        padding: 25px;
        left: 0;
        min-width: 369px;
        button{
            font-size: 1.2rem;
            padding: 17px 15px;
            &:nth-child(1){
                background-color: $btn-dark;
            }
            &:nth-child(2){
                background-color: $bg-light-paytotal;
            }
            &:nth-child(3){
                background-color: $primary-color;
            }
        }
    }
}