
#invoice-create,
#invoice-edit{
    position: fixed;
    top: 0;
    left: 0;
    padding: $header-sm 0;
    z-index: 1;
    @include media-up(md) {
        padding: $header-md 0;
    }
    @include media-up(lg) {
        top: -$header-md;
    }
}
//Go Back
.back{
    cursor: pointer;
    padding: 25px;
    .bold{
        padding-left: 25px;
    }
    @include media-up(md) {
        display: none;
    }
}
.container{
    width: 375px;
    background-color: var(--bg2);
    height: map-get($formHeight, sm);
    position: relative;
    overflow: hidden;
    @include media-up(md) {
        width: 616px;
        height: map-get($formHeight, md);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    @include media-up(lg) {
        width: 720px;
        height: 100vh;
        padding-left: $header-lg
    }
    h2{
        font-size: 2.4rem;
        padding: 0 25px 25px 25px;
        @include media-up(md) {
            padding: 56px;
        }
        .id{
            &::before{
                content: "#";
                color:$color-light-text;
            }
        }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        background: var(--bg1);
        box-shadow: 0px -10px 20px 20px rgba(0,0,0,0.1);
        padding: 25px;
        left: 0;
        min-width: 369px;
        width: 100%;
        @include media-up(md) {
            padding: 25px 56px;
            background: none;
            box-shadow:none;
        }
        @include media-up(lg) {
            padding-left: 56px;
        }
        >div{
            display: flex;
            width: 100%;
        }
        button{
            font-size: 1.2rem;
            padding: 10px 14px;
            height: 48px;
            @include media-up(md) {
                padding: 17px 20px;
            }
            &.discard{
                background-color: var(--discardBtn);
                color: var(--textCancel);
                &:hover{
                    background-color: var(--discardBtnHover);
                    color: $slightly-desaturated-blue;
                }
            }
            &.save-draft{
                background-color: var(--saveDraftBtn);
                color: var(--textCancel);
                &:hover{
                    background-color: var(--saveDraftBtnHover);
                }
                @include media-up(md) {
                    margin-left: auto;
                    margin-right: 10px;
                }
            }
            &.send{
                background-color: $btn-purple;
                &:hover{
                    background-color: $btn-purple-hover;
                }
            }
            &.save{
                background-color: $btn-purple;
                margin-left: 10px;
                &:hover{
                    background-color: $btn-purple-hover;
                }
            }
            &.send-draft{
                background-color: $btn-purple;
                margin-left: 10px;
                &:hover{
                    background-color: $btn-purple-hover;
                }
            }
            &.cancel{
                margin-left: auto;
                background-color: var(--bg4);
                color: var(--textCancel);
                &:hover{
                    background-color: var(--bg4Hover);
                }
            }
            &.delete{
                background-color: $btn-red;
                &:hover{
                    background-color: $btn-red-hover;
                }
            }
        }
        .isDraft{
            gap: 10px;
            button{
                &.send-draft{
                    margin: 0;
                    &::before{
                        content: "Save & ";
                    }
                }
                &.cancel{
                    margin: 0
                }
                &.delete{
                    margin-left: auto;
                }
                &.save-draft{
                    @include media-up(md) {
                        margin: 0;
                        &::after{
                            content: " Changes";
                        }
                    }
                }
            }
        }
    }
}

.fade-enter-from,
.fade-leave-to{
    opacity: 0.9;
    transform: translateX(-110%);
}
.fade-enter-active,
.fade-leave-active{
    transition: 0.5s ease-out;
}